html, body{
    margin: 0px;
    text-align: center;
}
body{
    padding-top: 3%;
}
header{
    margin-bottom: 200px;
    font-family: 'Raleway', sans-serif;
}
#google-btn{
    margin-left: 800px;
}
.traindiv{
    transform: scale(0.8)
}
@media screen and (max-width:750px){
    .traindiv{
        transform: scale(0.5);
        top: -20px;
    }
    #program{
        display: block;
        width: 90%;
    }

}
@media screen and (min-width:750px){
    #program{
        width: 50%;
        display: inline-block;
    }
    #year{
        width: 20%;
        display: inline-block;
    }
    #lectures{
        width: 20%;
        display: inline-block;
    }
}
#time{
    background: rgba(0,0,0,0.6);
    padding: 10px 0 0 0;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
    width: 200px;
    margin: auto;
}
iframe{
    border-style: none;

}
    #t1c, #t1{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.row{
    z-index: 0;
}
#select-div{
    width: 100%;
    min-height: 100px;
    text-align: center;
}
#och{
    color: #222;
}
#from{
    background: rgba(0,0,0,0.6);
    padding: 0 0 0 10px;
    color: #fff;
    border-radius: 10px;
    width: 90%;
    margin: 20px auto;
}
.drop-menu{
    margin: 20px auto;
    display: block;
    z-index: 9;
    border-style: solid;
    width: 90%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    border-color: rgba(0,0,0,0.6);
}
.drop-menu:focus{
    border-color: #000;
}

.getTime{
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 100;
    box-shadow: 0px 0px 3px 0px #42DCA3;
    border-radius: 20px;
    transition: 0.3s;
}
.getTime:hover{
    box-shadow: 0px 0px 3px 3px;
    font-weight: 300;
    background: rgba(255,255,255,0.3);
    color: #42DCA3;
}
.inline{
    display: inline-block;
}
.line{
    display: inline-block;
    height: 2px;
    width: 20%;
    background: rgba(0,0,0,0.8);
    margin: 8px 5px;
}
.white{
    background: #aaa;
}
.white-text{
    color: #fff;
}
#tiden{
    min-height: 800px;
    padding: 20px 20px 50px 20px;
    margin-top: 400px;
}

tr, td, th{
    text-align: left;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

th {
    font-weight: 500;
    text-transform: uppercase;

}


table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

#tagtid


#back{
    display: block;
    border-style: solid;
    border-radius: 50px;
}
.knappar{
    display: inline-block;
}
#error{
    margin-top: 10px;
    margin-bottom: -20px;
    color: #f00;
}

#new {
    padding: 10px;
    border: solid #fff;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#google {
    color: black;
    padding-right: 50px;
    font-size: 20px;
    font-weight: bold;
}