/*Denna css:en styr enbart tåget och bussen*/
.trainbody{
    width: 400px;
    height: 100px;
    background: #339;
    border-radius: 90px 90px 10px 10px;
    animation: moving 7s infinite ease;
    margin: 0px 0px 10px 0px;
}
@keyframes moving{
    from{margin-left: 200%;}
    to{margin-left: -150%;}
}
.windows{
    padding: 20px 40px;
}
.window{
    background: #ddd;
    border-style: solid;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    border-width: thin;
    display: inline-block;
    margin: 6px;
}
.busbody{
    width: 400px;
    height: 100px;
    background: #cc1;
    border-radius:10px;
    animation: movingback 10s infinite ease;
}
@keyframes movingback{
    from{margin-left: -200%;}
    to{margin-left: 200%;}
}
.buswindows{
    padding-top: 10px;
    transform: rotate(180deg);
}
.buswindow{
    border-style: solid;
    border-width: thin;
    display: inline-block;
    background: #ccc;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    margin: 5.5px;
}
.big{
    height: 70px;
    width: 40px;
}