{% extends "layout.html" %}
{% block title %}
  Start
{% endblock %}
{% block content %}
<h1>SCHOOL O´CLOCK</h1>
<div class="white line"></div>
<h3 class="inline">API-Beskrivning</h3>
<div class="white line"></div>

<p class="inledning">
    Detta API bygger på att hämta utvald data från Kronoxschemat och spara ner det från XML till JSON-format.
    Den data som hämtas är Moment, Starttid, Sluttid, Datum och Lokal. För denna tjänst är det den information som
    ansågs lämpig att presentera för användaren.
</p>
<p class="inledning">

    APIet använder metoden GET och består av konsekvent och semantisk namngivning. Det är designat
    med förhoppning att det ska vara enkelt för externa utvecklare att förstå och kunna använda sig av APIet.
    De bibliotek som används är Flask, BeatifulSoup, URLlib.request och JSON.
</p>

<p class="inledning">
    De parametrar som används är <em>limit</em> och <em>date</em>, eftersom de ansågs mest lämpliga för APIet.
    Det hade även gått att använda en <em>moment</em>-parameter, men den blev bortprioriterad eftersom den sällan hade använts.
</p>


<p class="inledning">
    I listan nedan kan ett specifikt schema tas fram med ett schemaID.<br>
    Ersätt alltid [PROGRAMKOD] med programkoden tillsammans med år (till exempel TGIAA15h).
</p>

<section class="GET one">
    <h4>GET</h4><h4>/v1/get_schedule/[PROGRAMKOD]</h4>
    <p class="description">Hämtar alla moment från [PROGRAMKOD] du skriver in.</p>
    <p class="indata">Indata: Ingen</p>
    <section class="response">
        <p class="svar">Svar:</p>
        [<br>
      {
        "Moment": "Laboration",
        "StartTid": "10:15",
        "SlutTid": "12:00",
        "Datum": "2016-10-31",
        "Lokal": "OR:C402"
      },<br>
      {
        "Moment": "Projektredovisning",
        "StartTid": "08:15",
        "SlutTid": "12:00",
        "Datum": "2016-11-01",
        "Lokal": "OR:B423"
      },<br>
      {
        "Moment": "Laboration",
        "StartTid": "13:15",
        "SlutTid": "17:00",
        "Datum": "2016-11-01",
        "Lokal": "NI:A0314"
      },<br>
      {
        "Moment": "Projektredovisning",
        "StartTid": "13:15",
        "SlutTid": "17:00",
        "Datum": "2016-11-02",
        "Lokal": "OR:B423"
      },<br>
      {
        "Moment": "Kursavslutning",
        "StartTid": "13:15",
        "SlutTid": "15:00",
        "Datum": "2016-11-03",
        "Lokal": "NI:A0307"
      },<br>
      {
        "Moment": "Kursintroduktion",
        "StartTid": "10:15",
        "SlutTid": "12:00",
        "Datum": "2016-11-07",
        "Lokal": "NI:A0311"
      },<br>
      {
        "Moment": "L01 Course intro and overview of the information design topic",
        "StartTid": "13:15",
        "SlutTid": "15:00",
        "Datum": "2016-11-07",
        "Lokal": "NI:A0611"
      },<br>
      {
        "Moment": "Föreläsning",
        "StartTid": "13:15",
        "SlutTid": "15:00",
        "Datum": "2016-11-08",
        "Lokal": "NI:A0311"
      }<br>
    ]
    </section>
</section>

<section class="GET two">
    <h4>GET</h4>
    <h4>/v1/get_schedule/[PROGRAMKOD]?limit=X</h4>
    <p class="description">Hämtar schemat men begränsar den till X moment.</p>
    <p class="indata">Indata: Ingen</p>
    <section class="response">
    <p class="svar">Svar:</p>
    [<br>
  {
    "Moment": "Laboration",
    "StartTid": "10:15",
    "SlutTid": "12:00",
    "Datum": "2016-10-31",
    "Lokal": "OR:C402"
  },<br>
  {
    "Moment": "Projektredovisning",
    "StartTid": "08:15",
    "SlutTid": "12:00",
    "Datum": "2016-11-01",
    "Lokal": "OR:B423"
  }<br>
]
  </section>
</section>

<section class="GET three">
    <h4>GET</h4>
    <h4>/v1/get_schedule/[PROGRAMKOD]?date=yyyy-mm-dd</h4>
    <p class="description">Hämtar schemat men begränsar den till ett visst datum i formatet yyyy-mm-dd.</p>
    <p class="indata">Indata: Ingen</p>
    <section class="response">
      <p class="svar">Svar:</p>
    [<br>
      {
        "Moment": "Föreläsning",
        "StartTid": "13:15",
        "SlutTid": "15:00",
        "Datum": "2016-11-08",
        "Lokal": "NI:A0311"
      }<br>
    ]
  </section>
</section>

<section class="four">
  <h4>Kodexempel</h4>
  <h6>GET /v1/get_schedule/TGIAA15h?date=2016-11-07&limit=1</h6>
  <section class="response">
    [<br>
  {
    "Moment": "Kursintroduktion",
    "StartTid": "10:15",
    "SlutTid": "12:00",
    "Datum": "2016-11-07",
    "Lokal": "NI:A0311"
  }<br>
]
  </section>
</section>


{% endblock %}
