{% extends "layout.html" %}
{% block title %}
  Start
{% endblock %}
{% block content %}
<h1>SCHOOL O´CLOCK</h1>
<div class="white line"></div>
<h3 class="inline">API-Beskrivning</h3>
<div class="white line"></div>
<p class="inledning">
    I listan nedan kan ett specifikt schema tas fram med ett schemaID.<br>
    Ersätt alltid [PROGRAMKOD] med programkoden tillsammans med år (till exempel TGIAA15h).
</p>
<p class="inledning">
    Vi har valt dessa parametrar då vi kände att det är dem enda lämpliga för projektet, 
    man hade kunnat lägga till en moment parameter. Men den parametern hade sällan använts.
</p>
<p class="inledning">

</p>

<section class="GET one">
    <h4>GET</h4><h4>/get_schedule/[PROGRAMKOD]</h4>
    <p class="description">Hämtar alla moment från [PROGRAMKOD] du skriver in.</p>
    <p class="indata">Indata: Ingen</p>
    <section class="response">
        <p class="svar">Svar:</p>
        [<br>
      {
        "Moment": "Laboration",
        "StartTid": "10:15",
        "SlutTid": "12:00",
        "Datum": "2016-10-31",
        "Lokal": "OR:C402"
      },<br>
      {
        "Moment": "Projektredovisning",
        "StartTid": "08:15",
        "SlutTid": "12:00",
        "Datum": "2016-11-01",
        "Lokal": "OR:B423"
      },<br>
      {
        "Moment": "Laboration",
        "StartTid": "13:15",
        "SlutTid": "17:00",
        "Datum": "2016-11-01",
        "Lokal": "NI:A0314"
      },<br>
      {
        "Moment": "Projektredovisning",
        "StartTid": "13:15",
        "SlutTid": "17:00",
        "Datum": "2016-11-02",
        "Lokal": "OR:B423"
      },<br>
      {
        "Moment": "Kursavslutning",
        "StartTid": "13:15",
        "SlutTid": "15:00",
        "Datum": "2016-11-03",
        "Lokal": "NI:A0307"
      },<br>
      {
        "Moment": "Kursintroduktion",
        "StartTid": "10:15",
        "SlutTid": "12:00",
        "Datum": "2016-11-07",
        "Lokal": "NI:A0311"
      },<br>
      {
        "Moment": "L01 Course intro and overview of the information design topic",
        "StartTid": "13:15",
        "SlutTid": "15:00",
        "Datum": "2016-11-07",
        "Lokal": "NI:A0611"
      },<br>
      {
        "Moment": "Föreläsning",
        "StartTid": "13:15",
        "SlutTid": "15:00",
        "Datum": "2016-11-08",
        "Lokal": "NI:A0311"
      }<br>
    ]
    </section>
</section>

<section class="GET two">
    <h4>GET</h4>
    <h4>/get_schedule/[PROGRAMKOD]?limit=X</h4>
    <p class="description">Hämtar schemat men begränsar den till X moment.</p>
    <p class="indata">Indata: Ingen</p>
    <section class="response">
    <p class="svar">Svar:</p>
    [<br>
  {
    "Moment": "Laboration",
    "StartTid": "10:15",
    "SlutTid": "12:00",
    "Datum": "2016-10-31",
    "Lokal": "OR:C402"
  },<br>
  {
    "Moment": "Projektredovisning",
    "StartTid": "08:15",
    "SlutTid": "12:00",
    "Datum": "2016-11-01",
    "Lokal": "OR:B423"
  }<br>
]
  </section>
</section>

<section class="GET three">
    <h4>GET</h4>
    <h4>/get_schedule/[PROGRAMKOD]?date=yyyy-mm-dd</h4>
    <p class="description">Hämtar schemat men begränsar den till ett visst datum i formatet yyyy-mm-dd.</p>
    <p class="indata">Indata: Ingen</p>
    <section class="response">
      <p class="svar">Svar:</p>
    [<br>
      {
        "Moment": "Föreläsning",
        "StartTid": "13:15",
        "SlutTid": "15:00",
        "Datum": "2016-11-08",
        "Lokal": "NI:A0311"
      }<br>
    ]
  </section>
</section>

<section class="four">
  <h4>Kodexempel</h4>
  <h6>GET /get_schedule/TGIAA15h?date=2016-11-07&limit=1</h6>
  <section class="response">
    [<br>
  {
    "Moment": "Kursintroduktion",
    "StartTid": "10:15",
    "SlutTid": "12:00",
    "Datum": "2016-11-07",
    "Lokal": "NI:A0311"
  }<br>
]
  </section>
</section>


{% endblock %}
