{% extends "layout.html" %}
{% block title %}
  Start
{% endblock %}

{% block content %}
<header id="searchwindow" class="intro" onload="startTime()">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 id="header1" class="brand-heading">School o'clock</h1>
                    <div id="select-div">
                        <form id="findTime" method="POST" action="http://localhost:8080/get_mashup">
                            <select name="program" id="program" class="drop-menu">
                                <option disabled selected value>Välj ditt program</option>
                                <option value="TGDAB">
                                    Datavetenskap och applikationsutveckling (TGDAB)
                                </option>
                                <option value="TGIAA">
                                    Informationsarkitekt (TGIAA)
                                </option>
                                <option value="TGITA">
                                    IT och ekonomi (TGITA)
                                </option>
                                <option value="TGMPP">
                                    Medieproduktion och processdesign (TGMPP)
                                </option>
                                <option value="SGPRM">
                                    Produktionsledare: Media (SGPRM)
                                </option>
                                <option value="TGSPA">
                                    Spelutveckling (TGSPA)
                                </option>
                                <option value="TGSYA">
                                    Systemutvecklare (TGSYA)
                                </option>
                                <option value="TGSYS">
                                    Systemutvecklare (TGSYS)
                                </option>
                            </select>
                            <select name="year" id="year" class="drop-menu">
                                <option disabled selected value>Årskull</option>
                                <option value="16h">16</option>
                                <option value="15h">15</option>
                                <option value="14h">14</option>
                            </select>
                            <select name="lectures" id="lectures" class="drop-menu">
                                <option disabled selected value>Antal Moment</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>

                            <div class="line"></div>
                            <h5 class="inline" id="och">och</h5>
                            <div class="line"></div>
                            {%if error %}
                            <h6 id="error">{{error}}</h6>
                            {%endif%}
                            <input required name="from" id="from" type="text" class="drop-menu input" placeholder="Skriv in din hållplats">

                            <input type="submit" value="Time Me" id="next" class="getTime">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Den andra delen på sidan.
Här visas resultatet av användarens sökning.-->
<div id="tiden">
    <div class="traindiv">
        <div class="trainbody">
            <div class="windows">
                <div class="window"></div>
                <div class="window"></div>
                <div class="window"></div>
                <div class="window"></div>
                <div class="window"></div>
            </div>
        </div>
        <div class="busdiv">
            <div class="busbody">
                <div class="buswindows">
                    <div class="big buswindow"></div>
                    <div class="small buswindow"></div>
                    <div class="small buswindow"></div>
                    <div class="big buswindow"></div>
                    <div class="small buswindow"></div>
                    <div class="small buswindow"></div>
                    <div class="small buswindow"></div>
                </div>
            </div>
        </div>
    </div>
    <h3>{{startLocationName}} </h3>
    <div class="white line"></div>
    <h5 class="white-text inline">till</h5>
    <div class="white line"></div>
    <h3>Malmö C</h3>
    <table>
        <tr>
            <th id="datum">Datum:</th>
            <th id="tagtid">Tåget avgår:</th>
            <th id="ankomst">Tåget ankommer:</th>
            <th>Lektionen börjar:</th>

            <th>Moment:</th>
            <th>Sal:</th>
        </tr>
        {% for i in jsonList %}
        <tr>
            <td>{{i["Datum"]}}</td>
            <td>{{i["AvgangsTid"]}}</td>
            <td>{{i["AnkomstTid"]}}</td>
            <td>{{i["StartTid"]}}</td>
            <td>{{i["Moment"]}}</td>
            <td>{{i["Lokal"]}}</td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <a id="back" href="#">Ny Sökning</a>
    </div>
    <a class="modal-trigger" href="#modal1">HEJSAN</a>
</div>

<footer>
    <p>Philip | Sara | Sabina | Oscar</p>
</footer>


{%if scroll%}
<script>
    //denna js funktionen gör så att sidan automatiskt scrollar ner:
    document.getElementById('{{ scroll }}').scrollIntoView({behavior: "smooth"});
    //om inte den funkar så gör denna det:
    document.location.hash = '#' + '{{ scroll }}';
</script>
{%endif%}

    <div id="modal1" class="modal">
    <div class="modal-content">
        <p> Vill du lägga till informationen i din kalender?</p>
        <a href="/add_to_calende">JA</a>
        <a href="/index">NEJ</a>
    </div>
    </div>

{% endblock %}
